MERCORA_CONTRACT_ADDRESS=0x0A3Fcc4671b6fF0BffBCDab3B744CFf6d5c7ED05
MERCORA_OPERATOR_ADDRESS=0xb88be5f8ed476abc8fb5e6c47b12032f075162b3
MERCORA_OPERATOR_PRIVATE_KEY=replace_with_cloudflare_secret
MERCORA_EXTRA_SETTLEMENT_GRACE_SECONDS=180
MERCORA_ADMIN_TOKEN=replace_with_secret
